body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.post {
  position: relative;
  width: 35%;
  background-color: #000000;
  margin: 0 auto;
  padding: 25px;
  padding-left: 55px;
  margin-top: 25px;
}
.post img {
  border-radius: 15px;
  position: absolute;
  top: 25px;
  left: 25px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 10px;
  padding-right: 100px;
}
.post-creator {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.post-creator-email {
  color: #6c7175;
  font-weight: 600;
  font-size: 16px;
}
.delete-btn:before {
  content: "";
  position: absolute;
  top: 15px;
  width: 2px;
  right: 15px;
  height: 10px;
  background-color: #fff;
}
.delete-btn:after {
  content: "";
  position: absolute;
  top: 15px;
  width: 2px;
  right: 15px;
  height: 10px;
  background-color: #fff;
}
.delete-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.delete-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.post-title {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.3;
  color: #6c7175;
  text-align: left;
  margin-bottom: 10px;
}
.post-body {
  font-weight: 300;
  line-height: 1.2;
  color: #fff;
  text-align: left;
}
